#wrap{}
#header{}
#section{}
#footer{}

/*********************header****************************/
#header p{font-weight: nomal; color: rgb(12, 12, 12); font-size: 1.2rem; padding-left: 230px;
margin-top: 30PX; margin-bottom: 132px;}

/*********************section****************************/
#sec1 img{width: 100%; }

#sec2{margin-bottom: 170px;}
#sec2 #text{width: 500px; height: auto; margin-left: 500px; margin-top: 40px;}
#sec2 #text p{font-weight: normal; color: rgb(12, 12, 12); display: inline; 
    font-size: 1.2rem;  padding-left: 54px; }
#sec2 #text p:last-child{padding-left: 217px;}


#sec3 #left{float: left; margin-left: 310px; margin-top: 140px;}
#sec3 #right{float: right; margin-right: 230px;}
#sec3 #right img{width: 90%;}

#sec4{margin-top: 300px; margin-bottom: 100px;}
#sec4 p{font-size: 18.0rem; line-height: 300px; text-align: center; color: rgb(17, 17, 17);
}
#sec4 p:first-child{margin-left: 275px;}
#sec4 P:last-child{margin-right: 10px;}
#sec4 div{padding-top: 650px;}


/*사이트 sec5*/
#info {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;				
	background:#fcf8e3;
	border:1px solid  #fbeed5;
	width:100%;
	max-width:900px;
	margin:0 auto 10px auto;
    font-size:12px;
    font-family: 'Jua', sans-serif;
}

	#info .info-wrapper {
		padding:10px;
	}
	
	#info a {
		color:#c09853;
		text-decoration:none;
	}
	
	#info p {
		margin:5px 0 0 0;
	}

ul {
	margin:0 auto;
	padding:0;
	list-style:none;
    width: 1300px;
    margin-right: 270px;
}

ul li {
	float:left;
	margin:20px 25px;
}


.shape {
	width: 320px;
	height: 300px;
    position: relative;
    margin-right: 30px;
}
		
	.shape .overlay {
		display:block;
		width: 320px;
		height: 310px;
		position: absolute;
		top:-5px;
		left:-5px;
		-webkit-transform: scale(1,1);
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 0.6s;
		-moz-transform: scale(1,1);
		-moz-transition-timing-function: ease-out;
		-moz-transition-duration: 0.6s;
		transform: scale(1,1);
		transition-timing-function: ease-out;
		transition-duration: 0.6s;				
		z-index:500;
		/* allow user to actually perform actions underneath this layer */
		pointer-events:none; 
		background-repeat: no-repeat;
		outline:0;		
	}

/* different shapes */
.shape .overlay.round {
	background: url(round.png);		
}

.shape .overlay.hexagon {
	background: url(hexagon.png);
}

.shape .overlay.pentagon {
	background: url(pentagon.png);
}			

/* hover effect */
.shape:hover .overlay {
	-webkit-transform: scale(1.07,1.07);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 0.3s;
	-moz-transform: scale(1.07,1.07);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 0.3s;
}


.shape:hover .bg {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  display:block;
}

.shape:hover .details {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
	z-index:450;
  display:block;	
}	
		
		

/* content styles */
#sec5 .title{font-size: 50px; color: rgb(59, 59, 59); margin-left: 360px; margin-bottom: 20px;}
.shape .bg, 
.shape .details {
	position: absolute;
	width: 380px;
	height:300px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	top:0;
	left:0;
	opacity:0;
	-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;				
	display:none;  
}		

.shape .bg {
	background: #f72084;		
}

.shape .details span.heading {
	font-family: 'Jua', sans-serif;	
	font-size:30px;
	display:block;
	margin-top:70px;
	color:#fff;
	text-decoration:none;
}

.shape .details p {
	font-family: 'Jua', sans-serif;	
	color:#fff;
	width: 70%;
	font-size:14px;
	margin:0 auto;
}

.shape a.button {
	padding:5px 15px;
	font-family: 'Jua', sans-serif;
	font-size:12px;	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	background: #2f3644;
	text-decoration:none;
	color:#fff;
	display:block;
	width:50px;
	margin:0 auto;
	text-align:center;
	margin-top:15px;
}

	.shape a.button:hover {
		background: #fff;
		color: #2f3644;				
	}


#sec6 {margin-top: 470px;margin-left:350px;}
#sec6 div{width: 390px; height: 310px; 
display: inline-block; margin-right: 5px; margin-bottom: 10px;}  
#sec6 div:last-child{ margin-bottom: 150px;}
#sec6 .long{width: 390px;height: 450px; overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
   float: left;}  
#sec6 .long .overlay {
		width:390px;
		height:450px;
		position:absolute;
		overflow:hidden;
		top:0;
		left:0;
		opacity:0;
		background-color:rgba(0,0,0,0.5);
		-webkit-transition:all .4s ease-in-out;
		transition:all .4s ease-in-out
		}	
#sec6 .long img{display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;}		


#sec6 .long h2 {
		text-transform:uppercase;
		color:#fff;
		text-align:center;
		position:relative;
		font-size:17px;
		background:rgba(0,0,0,0.6);
		-webkit-transform:translatey(-100px);
		-ms-transform:translatey(-100px);
		transform:translatey(-100px);
		-webkit-transition:all .2s ease-in-out;
		transition:all .2s ease-in-out;
		padding:10px;
		}
		
#sec6 .long a.info {
		text-decoration:none;
		display:inline-block;
		text-transform:uppercase;
		color:#fff;
		border:1px solid #fff;
		background-color:transparent;
		opacity:0;
		filter:alpha(opacity=0);
		-webkit-transition:all .2s ease-in-out;
		transition:all .2s ease-in-out;
		margin:50px 0 0;
		padding:7px 14px;
		}
		
#sec6 .long a.info:hover {
		box-shadow:0 0 5px #fff;
		}
		
#sec6 .long:hover img {
		-ms-transform:scale(1.2);
		-webkit-transform:scale(1.2);
		transform:scale(1.2);
		}
		
#sec6 .long:hover .overlay {
		opacity:1;
		filter:alpha(opacity=100);
		}

#sec6 .long:hover h2,.hovereffect:hover a.info {
		opacity:1;
		filter:alpha(opacity=100);
		-ms-transform:translatey(0);
		-webkit-transform:translatey(0);
		transform:translatey(0);
		}
		
		.hovereffect:hover a.info {
		-webkit-transition-delay:.2s;
		transition-delay:.2s;
		}
	



#sec6 .ba{width: 590px; height: 250px;}

#sec6 .ba {
	width: 590px; height: 250px;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
	}
	
#sec6 .ba .overlay {
	width: 590px; height: 250px;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:0;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
	}
	
#sec6 .ba img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
	}
	
#sec6 .ba h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
	}
	
#sec6 .ba a.info {
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	border:1px solid #fff;
	background-color:transparent;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin:50px 0 0;
	padding:7px 14px;
	}
	
	.hovereffect a.info:hover {
	box-shadow:0 0 5px #fff;
	}
	
#sec6 .ba:hover img {
	-ms-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	}
	
#sec6 .ba:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
	}
	
#sec6 .ba:hover h2,.hovereffect:hover a.info {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
	}
#sec6 .ba:hover a.info {
	-webkit-transition-delay:.2s;
	transition-delay:.2s;
	}







#sec6 .banner{width: 1191px; height: 250px; }
#sec6 .banner img{width: 100%;}

#sec6 .title{font-size: 50px; color: rgb(59, 59, 59); margin-bottom: 40px;}







.hovereffect {
	width:390px;
	height:310px;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
	}
	
	.hovereffect .overlay {
	width:390px;
	height:310px;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:0;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
	}
	
	.hovereffect img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
	}
	
	.hovereffect h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
	}
	
	.hovereffect a.info {
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	border:1px solid #fff;
	background-color:transparent;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin:50px 0 0;
	padding:7px 14px;
	}
	
	.hovereffect a.info:hover {
	box-shadow:0 0 5px #fff;
	}
	
	.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	}
	
	.hovereffect:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
	}
	
	.hovereffect:hover h2,.hovereffect:hover a.info {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
	}
	
	.hovereffect:hover a.info {
	-webkit-transition-delay:.2s;
	transition-delay:.2s;
	}



#sec7{margin-top: 1000px; margin-bottom: 100px; height: 600px;}
#sec7 p{font-size: 18.0rem; line-height: 300px; text-align: center; color: rgb(17, 17, 17);
	}
#sec7 p:first-child{margin-left: 290px;}
#sec7 P:last-child{margin-left: 650px;}

	
	



/*********************footer****************************/


#footer {padding-top: 840px;}
#footer #text01{margin-top: 110px;}
#footer #text{width: 500px; height: auto; margin-left: 500px; margin-top: 40px;}
#footer #text p{font-weight: normal; color: rgb(12, 12, 12); display: inline; 
    font-size: 1.2rem;  padding-left: 54px;float: left; }
#footer #text p:first-child{margin-right: 100px; width: 150px;}
#footer #text p:last-child{margin-left: 30px; margin-bottom: 60px;}

#footer p:first-child{width:300px;font-weight: nomal; color: rgb(12, 12, 12); font-size: 1.2rem; padding-left: 230px;
	margin-top: 130PX; float: left; padding-top: 100px;}